@import 'tailwindcss';

.snippets-section {
	position: relative;
	overflow-x: auto;
	white-space: nowrap;
}

.snippets-button {
	display: inline-flex;
	align-items: center;
	justify-content: start;
	flex-shrink: 0;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 0.75rem;
	margin-bottom: 0.5rem;
}

.snippets-container {
	overflow-x: auto;
	white-space: nowrap;
	position: relative;
	display: flex;
	padding: 2px;
}

.overflow-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	border: none;
	width: 32px;
	height: 32px;
}
