name: CI

on:
  push:
    branches: [ main, actions ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
    
    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build  

    - name: Run tests
      run: npm test:unit

